/* VARIABLES */
:root {
  --background: hsl(30, 38%, 92%);
  --cardBackground: hsl(0, 0%, 100%);
  --elements: hsl(158, 36%, 37%);
  --elementsActive: hsl(156, 42%, 17%);
  --title: hsl(212, 21%, 14%);
  --text: hsl(228, 12%, 48%);
  --links: hsl(228, 45%, 44%);

  --titleFont: 'Fraunces', serif;
  --textFont: 'Montserrat', sans-serif;
  font-size: 62.5%;
}

/* GLOBAL */
html {
  font-size: 16px;
}
body {
  background-color: var(--background);
  max-height: 100vh;
  font-family: var(--textFont);
  font-size: 1.4rem;
  font-weight: 500;
}

/* MAIN */
.main {
  height: calc(100vh - 2rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* img.image */

.image {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  height: 24rem;
}

/* section.card */

.card {
  background-color: var(--cardBackground);
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  width: 34.3rem;
  padding: 0 2.4rem;
}

.subtitle {
  color: var(--text);
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  margin-top: 2.4rem;
}

.title {
  color: var(--title);
  font: bold 3.2rem/3.2rem var(--titleFont);
  margin: 1.4rem 0;
}

.text {
  color: var(--text);
  line-height: 2.35rem;
}

.price {
  color: var(--elements);
  font: bold 3.2rem/3rem var(--titleFont);
  margin-top: 2.4rem;
  display: flex;
  align-items: center;
}
.oldPrice {
  margin: 0 2rem;
  color: var(--text);
  font: 500 1.25rem/1.6rem var(--textFont);
  text-decoration: line-through;
  display: inline-block;
}

.button {
  background-color: var(--elements);
  border-radius: 1rem;
  margin: 2rem 0 2.4rem;
  padding: 1.5rem 0;
  color: var(--cardBackground);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8em;
  cursor: pointer;
}
.button:active {
  background-color: var(--elementsActive);
}

/* FOOTER */

.attribution { 
  height: 2rem;
  font-size: 1.1rem;
  text-align: center;
}
.attribution__links {
  color: var(--links);
}

